@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

html, body {
    height: 100%;
}

html {
    font-size: 0;
    font-family: 'Caveat Brush', sans-serif;
    font-weight: bold;
    color: #fff;
    background: #131313;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body::before {
    content: '';
    height: 100%;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #15b154;
}

body::before, section {
    display: inline-block;
    vertical-align: middle;
}

div {
    display: inline-block;
    margin: 5vw;
    text-align: center;
    font-size: 25vw;
    opacity: 0;

    -webkit-animation: appear 1000ms ease-in forwards;
    animation: appear 1000ms ease-in forwards;
}

div:nth-child(1) {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
}

div:nth-child(2) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

div:nth-child(3) {
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms;
}

span {
    display: block;
    text-align: center;
    font-size: 5vw;
    opacity: 0;

    -webkit-animation: appear 1000ms 600ms ease-in forwards;
    animation: appear 1000ms 600ms ease-in forwards;
}

@-webkit-keyframes appear {

    100% {
        opacity: 1;
    }

}

@keyframes appear {

    100% {
        opacity: 1;
    }

}
