<!DOCTYPE html>
<html>
<head>
    <title>File Upload - Scotow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/upload/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
    <script src="js/upload/app.min.js"></script>
</head>
<body>
<form action="/" method="POST" enctype="multipart/form-data">
    <label class="icon floating">
        <figure></figure>
        <input type="file" name="files[]" multiple>
    </label>
    <div id="file-name"></div>
    <div class="option">
        <div class="title">Web/JSON response</div>
        <input id="pretty" type="checkbox" name="pretty">
        <label for="pretty"></label>
    </div>
    <input type="submit" value="Upload" name="submit" class="hidden">
</form>
</body>
</html>