doctype html

html
    head
        title= code
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/error/style.css')
    body
        section
            each number in code
                div= number
            span= message
